# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
<FilesMatch "\.(webp|png|css)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\.(js)$">
Header set Cache-Control "max-age=2592000, private"
</FilesMatch>
<FilesMatch "\.(html)$">
Header set Cache-Control "max-age=604 800, public"
</FilesMatch>
</IfModule>
# END Cache-Control Headers
